{{!-- User interface, what the user sees when they use the application (HTML/CSS/Dynamic content from controller) --}}
{{!-- Template engine here is "handlebars" - dynamic data --}}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<title>Meme My Mood</title>

<body>

	<div class="container">
		{{#each meme}}
		{{mood}} {{content}}
		{{/each}}
	</div>
	
	{{{body}}}

	
</body>

</html>