{{!-- User interface, what the user sees when they use the application (HTML/CSS/Dynamic content from controller) --}}
{{!-- Template engine here is "handlebars" - dynamic data --}}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Memes Yazzzz!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/yazzzz.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
