<div class="container">
    <div= "row">
        {{#each meme}}
        <div class="col-sm">
            <img src="{{content}}" id="imgFile" alt="memeImg">
        </div>
        {{/each}}
</div>
</div>