<!DOCTYPE html>
<html lang="en">

<body background="/assets/cssimages/grey-background.jpg">

    <nav class="navbar navbar-light" style="background-color: #ffffff;">
        <span class="navbar-brand mb-0 h1">Meme My Mood 💬</span>
    </nav>

    <div class="image-wrapper">
        <img src="/assets/cssimages/whitewall.jpg" height="300px" width="100%" alt="image">
        <p>Memes based on your mood.</p>
    </div>

    <div class="header">
        <h3>Pick a mood to start creating!</h3>
    </div>
    
    <div class="container">

        <a href="/happy"><button type="button" id="happy" class="btn btn-outline-light btn-lg">Happy</button></a>
        <a href="/sad"><button type="button" id="sad" class="btn btn-outline-light btn-lg">Sad</button></a>
        <a href="/angry"><button type="button" id="angry" class="btn btn-outline-light btn-lg">Angry</button></a>
        <a href="/confused"><button type="button" id="confused" class="btn btn-outline-light btn-lg">Confused</button></a>
        <a href="/love"><button type="button" id="love" class="btn btn-outline-light btn-lg">Love</button></a>
        <a href="/sassy"><button type="button" id="sassy" class="btn btn-outline-light btn-lg">Sassy</button></a>
        <a href="/overit"><button type="button" id="overit" class="btn btn-outline-light btn-lg">Over it </button></a>
        <a href="/excited"><button type="button" id="excited" class="btn btn-outline-light btn-lg">Excited</button></a>
        <a href="/exhausted"><button type="button" id="exhausted" class="btn btn-outline-light btn-lg">Exhausted</button></a>
        <a href="/coding"><button type="button" id="coding" class="btn btn-outline-light btn-lg">Coding</button></a>
    </div>

    <div class="footer">
        <p>&copy MemeMyMood</p>
    </div>


</body>

</html>