<h1>Test Header</h1>

<h2>Test Sub</h2>

{{#each meme}}
    {{mood}}{{content}}
{{/each}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <title>MemeMyMood</title>
</head>

<body background="Images/grey-background.jpg">

    <nav class="navbar navbar-light" style="background-color: #ffffff;">
        <span class="navbar-brand mb-0 h1">Meme My Mood </span>
    </nav>
    <div class="image-wrapper">
        <img src="Images/wall.jpg" height="300px" width="100%" alt="image">
        <h1>Pick a mood to start creating!</h1>
    </div>
   
    <div class="container">
        <button type="button" class="btn btn-outline-light btn-lg">Happy</button>
        <button type="button" class="btn btn-outline-light btn-lg">Sad</button>
        <button type="button" class="btn btn-outline-light btn-lg">Angry</button>
        <button type="button" class="btn btn-outline-light btn-lg">Confused</button>
        <button type="button" class="btn btn-outline-light btn-lg">Love</button>
        <button type="button" class="btn btn-outline-light btn-lg">Sassy</button>
        <button type="button" class="btn btn-outline-light btn-lg">Over it </button>
        <button type="button" class="btn btn-outline-light btn-lg">Excited</button>
        <button type="button" class="btn btn-outline-light btn-lg">Exhausted</button>
        <button type="button" class="btn btn-outline-light btn-lg">Coding</button>
    </div>

    <div class="footer">
        <p> &copy MemeMyMood</p>
    </div>


</body>

</html>

