    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div>
                    {{#each meme}}
                    <img src="{{content}}" id="imgFile" alt="memeImg" style="display:none;">
                    {{/each}}
                </div>

                <!-- BEGIN: Canvas rendering of generated Meme -->
                <canvas id="meme">
                    Unfortunately your browser does not support canvas.
                </canvas>
                <!-- END: Canvas rendering of generated Meme -->

            </div>
            <div class="col-md-6">
                <h3>Top Text</h3>
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" value="This Better be" id="text_top" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3" for="text_top_offset">Offset from top:</label>
                        <div class="col-md-7">
                            <input style="width:100%" id="text_top_offset" type="range" min="0" max="500" value="50" />
                        </div>
                        <div class="col-md-2 setting-value">
                            <span id="text_top_offset__val">50</span>px
                        </div>
                    </div>
                </div>
                <h3>Bottom Text</h3>
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" value="Good" id="text_bottom" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3" for="text_bottom_offset">Offset from top:</label>
                        <div class="col-md-7">
                            <input style="width:100%" id="text_bottom_offset" type="range" min="0" max="500" value="450" />
                        </div>
                        <div class="col-md-2 setting-value">
                            <span id="text_bottom_offset__val">450</span>px
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px">
            <div class="col-sm-6">
                <button id="create_meme" class="btn btn-primary btn-block" type="button">Save</button>
            </div>

            <div class="col-sm-6">
                <a href="javascript:;" class="btn btn-secondary btn-block" id="download_meme">
                    <i class="fa fa-download" aria-hidden="true"></i> Download
                </a>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <i class="fa fa-cogs" aria-hidden="true"></i> More options
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-3" for="canvas_size">Meme size:</label>
                            <div class="col-md-7">
                                <input style="width:100%" id="canvas_size" type="range" min="0" max="1000" value="500" />
                            </div>
                            <div class="col-md-2 setting-value">
                                <span id="canvas_size__val">500</span>px
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-3" for="text_font_size">Font size:</label>
                            <div class="col-md-7">
                                <input style="width:100%" id="text_font_size" type="range" min="0" max="72" value="28" />
                            </div>
                            <div class="col-md-2 setting-value">
                                <span id="text_font_size__val">28</span>pt
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-3" for="text_line_height">Line height:</label>
                            <div class="col-md-7">
                                <input style="width:100%" id="text_line_height" type="range" min="0" max="100" value="15" />
                            </div>
                            <div class="col-md-2 setting-value">
                                <span id="text_line_height__val">15</span>pt
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-3" for="text_stroke_width">Stroke width:</label>
                            <div class="col-md-7">
                                <input style="width:100%" id="text_stroke_width" type="range" min="0" max="20" value="4" />
                            </div>
                            <div class="col-md-2 setting-value">
                                <span id="text_stroke_width__val">4</span>pt
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>






    {{!-- Non-jQuery Code --}}

    {{!-- _____________________________________________________________________________________________

    <h3><i class="fa fa-commenting-o fa-fw" aria-hidden="true"></i>Meme Text</h3>
    <div class="box">
        <div>
            <p>Top Text</p>
            <input id="textTop" type="text" class="block" placeholder="Top text" />
        </div>
        <div>
            <p>Bottom Text</p>
            <input id="textBottom" type="text" class="block" placeholder="Bottom text" />
        </div>
    </div>



    <h3><i class="fa fa-text-height fa-fw" aria-hidden="true"></i>Text Size</h3>
    <div class="box">
        <div>
            <p>Top Text: <span id="textSizeTopOut">10</span></p>
            <input id="textSizeTop" type="range" min="2" max="50" step="2" />
        </div>
        <div>
            <p>Bottom Text: <span id="textSizeBottomOut">10</span></p>
            <input id="textSizeBottom" type="range" min="2" max="50" step="2" />
        </div>
    </div>



    <div class="box">
        <div>
            <h3><i class="fa fa-eye fa-fw" aria-hidden="true"></i>Preview Size</h3>
            <input id="trueSize" type="checkbox" />
            <label for="trueSize"><span>Show true size</span></label>
        </div>



        <div>
            <h3><i class="fa fa-download fa-fw" aria-hidden="true"></i>Save Your Meme</h3>

            <button id="export">Export!</button>
        </div>

    </div>

    _____________________________________________________________________________________________ --}}

