<!DOCTYPE html>
<html lang="en">

<body background="/assets/cssimages/grey-background.jpg">

    <nav class="navbar navbar-light" style="background-color: #ffffff;">
        <span class="navbar-brand mb-0 h1">Meme My Mood 💬</span>
    </nav>

    <div class="image-wrapper">
        <img src="/assets/cssimages/whitewall.jpg" height="300px" width="100%" alt="image">
        <p>Memes based on your mood.</p>
    </div>

    <div class="container">
        </div>

</body>
</html>