<!DOCTYPE html>
<html lang="en">

<body background="/assets/cssimages/grey-background.jpg">

    <nav class="navbar navbar-light" style="background-color: #ffffff;">
        <span class="navbar-brand mb-0 h1"><a href="/">Meme My Mood 💬</a></span>
    </nav>

    <div class="image-wrapper">
        <img src="/assets/cssimages/whitewall.jpg" height="300px" width="100%" alt="image">
        <p>Memes based on your mood.</p>
    </div>

    <div class="col-md-8">
        <div>
            {{#each meme}}
            <img src="{{content}}" id="imgFile" alt="memeImg" style="display:none;">
            {{/each}}
        </div>

        <!-- BEGIN: Canvas rendering of generated Meme -->
        <canvas id="meme">
            Unfortunately your browser does not support canvas.
        </canvas>
        <!-- END: Canvas rendering of generated Meme -->

        <a href="javascript:;" class="btn btn-primary btn-block" id="download_meme">
            <i class="fa fa-download" aria-hidden="true"></i> Download
        </a>

<a href="/archive"><button class="fa fa-submit" aria-hidden="true">Submit</button></a>
        {{!-- <a href="javascript:;" class="btn btn-primary btn-block" id="create_meme">
            <i class="fa fa-submit" aria-hidden="true"></i> Submit
        </a> --}}

    </div>


    <hr />

    <h3>Top Text</h3>

    <div class="form-group">
        <input type="text" class="form-control form-control-lg" value="This Better be" id="text_top" />
    </div>

    <div class="form-group">
        <div class="row">
            <label class="control-label col-md-3" for="text_top_offset">Offset from top:</label>
            <div class="col-md-7">
                <input style="width:100%" id="text_top_offset" type="range" min="0" max="500" value="50" />
            </div>
            <div class="col-md-2 setting-value">
                <span id="text_top_offset__val">50</span>px
            </div>
        </div>
    </div>


    <p>&nbsp;</p>

    <h3>Bottom Text</h3>

    <div class="form-group">
        <input type="text" class="form-control form-control-lg" value="Good" id="text_bottom" />
    </div>

    <div class="form-group">
        <div class="row">
            <label class="control-label col-md-3" for="text_bottom_offset">Offset from top:</label>
            <div class="col-md-7">
                <input style="width:100%" id="text_bottom_offset" type="range" min="0" max="500" value="450" />
            </div>
            <div class="col-md-2 setting-value">
                <span id="text_bottom_offset__val">450</span>px
            </div>
        </div>
    </div>


    <hr />

    <p>&nbsp;</p>

    <div class="card">
        <div class="card-header">
            <i class="fa fa-cogs" aria-hidden="true"></i> More options
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-3" for="canvas_size">Meme size:</label>
                            <div class="col-md-7">
                                <input style="width:100%" id="canvas_size" type="range" min="0" max="1000" value="500" />
                            </div>
                            <div class="col-md-2 setting-value">
                                <span id="canvas_size__val">500</span>px
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-3" for="text_font_size">Font size:</label>
                            <div class="col-md-7">
                                <input style="width:100%" id="text_font_size" type="range" min="0" max="72" value="28" />
                            </div>
                            <div class="col-md-2 setting-value">
                                <span id="text_font_size__val">28</span>pt
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-3" for="text_line_height">Line height:</label>
                            <div class="col-md-7">
                                <input style="width:100%" id="text_line_height" type="range" min="0" max="100" value="15" />
                            </div>
                            <div class="col-md-2 setting-value">
                                <span id="text_line_height__val">15</span>pt
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-3" for="text_stroke_width">Stroke width:</label>
                            <div class="col-md-7">
                                <input style="width:100%" id="text_stroke_width" type="range" min="0" max="20" value="4" />
                            </div>
                            <div class="col-md-2 setting-value">
                                <span id="text_stroke_width__val">4</span>pt
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>






    {{!-- Non-jQuery Code --}}

    {{!-- _____________________________________________________________________________________________

    <h3><i class="fa fa-commenting-o fa-fw" aria-hidden="true"></i>Meme Text</h3>
    <div class="box">
        <div>
            <p>Top Text</p>
            <input id="textTop" type="text" class="block" placeholder="Top text" />
        </div>
        <div>
            <p>Bottom Text</p>
            <input id="textBottom" type="text" class="block" placeholder="Bottom text" />
        </div>
    </div>



    <h3><i class="fa fa-text-height fa-fw" aria-hidden="true"></i>Text Size</h3>
    <div class="box">
        <div>
            <p>Top Text: <span id="textSizeTopOut">10</span></p>
            <input id="textSizeTop" type="range" min="2" max="50" step="2" />
        </div>
        <div>
            <p>Bottom Text: <span id="textSizeBottomOut">10</span></p>
            <input id="textSizeBottom" type="range" min="2" max="50" step="2" />
        </div>
    </div>



    <div class="box">
        <div>
            <h3><i class="fa fa-eye fa-fw" aria-hidden="true"></i>Preview Size</h3>
            <input id="trueSize" type="checkbox" />
            <label for="trueSize"><span>Show true size</span></label>
        </div>



        <div>
            <h3><i class="fa fa-download fa-fw" aria-hidden="true"></i>Save Your Meme</h3>

            <button id="export">Export!</button>
        </div>

    </div>

    _____________________________________________________________________________________________ --}}


    <div class="footer">
        <p>&copy MemeMyMood</p>
    </div>

    <!-- BootStrap JavaScript -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
        </script>

    <!-- Our JavaScript -->
    <script src="/assets/js/yazzzz.js"></script>


</body>

</html>