<style>

    #imgFile {
        display: block;
        margin: 10px;
        padding: 5px;
        width: 450px;
        height: 450px;
        background-size: 100%;
        text-align: center;
        align-content: center;
        position: relative;
    }

    #text_bottom {
        bottom: 0;
    }

    #text_top {
        top: 0;
    }

</style>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="dropdown" width="25%">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="margin-bottom:15px; margin-top:5px">
                    Change Mood
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a class="dropdown-item" href="/happy" type="button">Sad</a>
                    <a class="dropdown-item" href="/sad" type="button">Sad</a>
                    <a class="dropdown-item" href="/angry" type="button">Angry</a>
                    <a class="dropdown-item" href="/confused" type="button">Confused</a>
                    <a class="dropdown-item" href="/inlove" type="button">In Love</a>
                    <a class="dropdown-item" href="/sassy" type="button">Sassy</a>
                    <a class="dropdown-item" href="/overit" type="button">Over It</a>
                    <a class="dropdown-item" href="/excited" type="button">Excited</a>
                    <a class="dropdown-item" href="/exhausted" type="button">Exhausted</a>
                    <a class="dropdown-item" href="/coding" type="button">Coding</a>
                </div>
            </div>
            <a id="newImage" class="btn btn-link" href="#" role="button">Different Image</a>
            <hr>
        </div>
        <script type="text/javascript">
            var a = document.getElementById("newImage")
            a.href = window.location.pathname
            console.log(a.href)
        </script>



        <div class="col-md-6" id="meme-div">
            <div>
                {{#each meme}}
                <img src="{{content}}" id="imgFile" alt="memeImg" style="display:none;">
                {{/each}}
            </div>

            <!-- BEGIN: Canvas rendering of generated Meme -->
            <canvas id="meme"> 
                Unfortunately your browser does not support canvas.
            </canvas>
            <!-- END: Canvas rendering of generated Meme -->

        </div>
        <div class="col-md-6">
            <h3>Top Text</h3>
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" value="This Better be" id="text_top" />
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-md-3" for="text_top_offset">Offset from top:</label>
                    <div class="col-md-7">
                        <input style="width:100%" id="text_top_offset" type="range" min="0" max="500" value="50" />
                    </div>
                    <div class="col-md-2 setting-value">
                        <span id="text_top_offset__val">50</span>px
                    </div>
                </div>
            </div>
            <h3>Bottom Text</h3>
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" value="Good" id="text_bottom" />
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-md-3" for="text_bottom_offset">Offset from top:</label>
                    <div class="col-md-7">
                        <input style="width:100%" id="text_bottom_offset" type="range" min="0" max="500" value="450" />
                    </div>
                    <div class="col-md-2 setting-value">
                        <span id="text_bottom_offset__val">450</span>px
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-6">
            <button id="create_meme" class="btn btn-primary btn-block" type="button">Save</button>
        </div>

        <div class="col-sm-6">
            <a href="javascript:;" class="btn btn-secondary btn-block" id="download_meme">
                <i class="fa fa-download" aria-hidden="true"></i> Download
            </a>

        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <i class="fa fa-cogs" aria-hidden="true"></i> More options
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3" for="canvas_size">Meme size:</label>
                        <div class="col-md-7">
                            <input style="width:100%" id="canvas_size" type="range" min="0" max="1000" value="500" />
                        </div>
                        <div class="col-md-2 setting-value">
                            <span id="canvas_size__val">500</span>px
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3" for="text_font_size">Font size:</label>
                        <div class="col-md-7">
                            <input style="width:100%" id="text_font_size" type="range" min="0" max="72" value="28" />
                        </div>
                        <div class="col-md-2 setting-value">
                            <span id="text_font_size__val">28</span>pt
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3" for="text_line_height">Line height:</label>
                        <div class="col-md-7">
                            <input style="width:100%" id="text_line_height" type="range" min="0" max="100" value="15" />
                        </div>
                        <div class="col-md-2 setting-value">
                            <span id="text_line_height__val">15</span>pt
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-md-3" for="text_stroke_width">Stroke width:</label>
                        <div class="col-md-7">
                            <input style="width:100%" id="text_stroke_width" type="range" min="0" max="20" value="4" />
                        </div>
                        <div class="col-md-2 setting-value">
                            <span id="text_stroke_width__val">4</span>pt
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

