.navbar {
    font-family: 'Allerta Stencil', sans-serif;
    /* height: 65px; */
    /* font-size: 50px; */
}

.container {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.image-wrapper {
    margin-bottom: 10px;
    border-bottom: 3px solid #FFF;
}

.image-wrapper p {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 125px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 40px;
    color: black;
    margin: 5px;
    font-family: 'Allerta Stencil', sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    color: black;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    font-family: 'Allerta Stencil', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Allerta Stencil', sans-serif;
}

.card-group {
    margin-left: 150px;
    margin-right: 150px;
    border: #FFF 5px solid;
}

.card-body {
    padding: 0rem;
}

/* These are for the archive

.meme {
    height: 450px !important;
    padding: 5px;
    overflow: hidden;
    
}

.meme:hover {
  
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.meme:hover .download{
    display: block;
    visibility: visible;
}

.download {
    visibility: hidden;
} */